/* Start Variables */
:root {
  --main-color: #ff7e20;
  --secondary-color: #ffffff;
  --section-padding: 100px;
  --main-duration: 0.5s;
}
/* End Variables */
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Noto Sans", sans-serif;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */
/* Start Components */
.special-heading {
  color: var(--main-color);
  font-size: 80px;
  text-align: center;
  font-weight: 800;
  letter-spacing: -3px;
  margin: 0;
}
@media (max-width: 1200px) {
  .special-heading {
    font-size: 60px;
  }
}
@media (max-width: 767px) {
  .special-heading {
    font-size: 50px;
  }
}
.secondary-heading {
  color: var(--secondary-color);
  font-size: 2em;
  font-weight: 800;
  letter-spacing: -2px;
}
@media (max-width: 767px) {
  .secondary-heading {
    font-size: 1.1em;
  }
}
.btn {
  display: inline-block;
  text-decoration: none;
  color: var(--secondary-color);
  background-color: var(--main-color);
  font-size: 1.5em;
  padding:20px 40px;
  margin: 0 auto;
  text-align: center;
}
.special-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 60px;  
  height: 60px;
  font-size: 30px;
  font-weight: 600;
  z-index: 2;
  text-decoration: none;
  color: var(--secondary-color);
  background-color: var(--main-color);
  text-align: center;
  align-items: center;
  border-radius: 50%;
  margin: 0;
}
.card-img {
  border-radius: 50px 0 50px 0;
}
@media (max-width:767px){
  .btn{
    font-size: 1.1em;
    padding: 15px 30px;
  }
  .special-btn {
    position: absolute;
    width: 35px;  
    height: 35px;
    font-size: 20px;
  }
}
/* End Components */
/* Start Header */
header {
  padding:15px;
}
header .container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 0%;
}
header .container .links {
  position: relative;
}
header .container .links .icon {
  display:none;
}
header .container .links ul {
  list-style: none;
}
header .container .links ul li {
  display: inline-block;
}
header .container .links ul li a {
  color: black;
  text-decoration: none;
  font-size: 1.1em;
  margin: 10px;
}
@media (max-width:767px){
  header .container .links .icon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 25px;
  }
  header .container .links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);
    display: none;
    z-index: 1;
  }
  header .container .links ul::before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    right: 3px;
    top: -20px;
  }
  header .container .links:hover ul {
    display: block;
  }
  header .container .links ul li {
    display: block;
  }
  header .container .links ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: var(--main-duration);
  }
  header .container .links ul li a:hover {
    padding-left: 25px;
  }
  header .container .links ul li:not(:last-child) a {
    border-bottom: 1px solid #ddd;
  }
}
/* END Header */
/* START LANDING */
.landing {
  background-image: url(../images/landing.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh - 64px);
  position: relative;
}
@media (max-width:1200px){
  .landing {
    background-position: center;
  }
}
.landing .intro-text {
  display: flex;
  position: relative;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 100%;
}
.landing .intro-text .secondary-heading {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.landing .intro-text h1 {
  margin: auto;
  font-weight: bold;
  font-size: 100px;
  color: var(--secondary-color);
}
@media (max-width: 1200px) {
  .landing .intro-text h1 {
    font-size: 80px;
  }
}
@media (max-width: 767px) {
  .landing .intro-text h1 {
    font-size: 35px;
  }
}
.landing .intro-text .btn {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* END  LANDING Section */
/* STart about section*/
.about {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);

}
.about .content{
  display: flex;
  direction: rtl;
  justify-content: space-around;
  padding: 0 100px;
}
.about .content .info-text{
  direction: ltr;
}
.about .content .info-text .special-heading{
  text-align: left;
  margin: 0 0 70px 0;
}
.about .content .info-text p{
  overflow: hidden;
  display: block;
  max-width: 600px;
  font-size: 1.5em;
  line-height: 2em;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.547);
}
.about .content .special-card{
  position: relative;
  direction: ltr;
  margin: 0;
}
.about .content .special-card .card-img {
  width: 100%;
}
.about .content .special-btn {
  top: 50px;
  right: -30px;
}
@media (max-width: 992px) {
  .about {
    padding-top: calc(var(--section-padding) - 20px) ;
    padding-bottom: calc(var(--section-padding) - 20px);
  }
  .about .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px auto ;
  }
  .about .content .info-text{
    margin-bottom: 50px;
  }
  .about .content .info-text .special-heading{
    margin: 40px 0 30px 0;
  }
  .about .content .info-text p{
    max-width: 500px;
    line-height: 2.5em;
    font-size: 1.1em;
  }
  
  .about .content .special-card{
    padding: auto;
  }
  .about .content .special-btn {
    top: 50px;
    right: -30px;
  }

}
@media (max-width:767px){
  .about {
    padding-top: calc(var(--section-padding) - 40px) ;
    padding-bottom: calc(var(--section-padding) - 40px);
  }
  .about .content{
    padding: 0 20px ;
  }
  .about .content .info-text{
    margin-bottom: 50px;
  }
  .about .content .special-btn {
    top: 50px;
    left: 95%;
  }
  .about .content .info-text .special-heading{
    margin: 40px 0 30px 0;
  }
}
/*--End about section*/
/*  Start Work section  */
.work {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--main-color);
}
@media (max-width: 992px) {
  .work {
    padding-top: calc(var(--section-padding) - 20px) ;
    padding-bottom: calc(var(--section-padding) - 20px);
  }
}
@media (max-width:767px){
  .work {
    padding-top: calc(var(--section-padding) - 40px) ;
    padding-bottom: calc(var(--section-padding) - 40px);
  }
}
.work .container .special-heading {
  color: var(--secondary-color);
  margin-bottom: 30px;
}
.work .content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.work .container .content .project-card{
  background-color: var(--secondary-color);
  max-width: 20em;
  max-height: 30em;
  margin: 30px 30px;
  border-radius: 10px;
}
.work .container .content .project-card .project-img img{
  width: 100%;
  height: 270px;
  border-radius: 10px;
}
.work .container .content .project-card .work-title {
  height: 70px;
  align-items: center;
}
.work .container .content .project-card .work-title .special-heading{
  color: var(--main-color);
  font-size: 24px;
  letter-spacing: 0px;
  margin: 30px 20px;
}

/*  End  Work section  */